.section{
  padding: 40px;
}
p{
  font-size: 14px;
  color: #262626;
}
.main-heading{
  color: rgb(204, 18, 18);
  font-size: 32px;
}

.underline{
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light{
  background-color: #f2f2f2;
}

.footer a{
  color:#f2f2f2;
  text-decoration: none !important;
}

.footer a:hover{
  color: grey;
  text-decoration: none !important;
}

